
.subscribe {
		background-color: $blueMain;


	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 80px 0;

		&__item {

			&__title {
				font: 22px $font-statick;
				font-weight: 700;
				text-transform: uppercase;
				color: #fff;

				&:before {
					@extend .upline;
					margin: 0 0 10px 0;
				}
			}

			&__text {
				@extend .text;
				text-align: left;
				// font: 20px $font-statick;
			}

			&__input {
				margin-top: 30px;

				input[type="email"] {
					background-color: $blueLight;
					border: none;
					padding: 20px;
					width: 400px;

					// color: #eee;

				}

				input[type="submit"] {
					padding: 18.5px;
					margin-left: -4px;
					background-color: $orangeMain;
					text-transform: uppercase;
					font: 18px $font-statick;
					color: #fff;
					border: none;
					cursor: pointer;

					&:focus {
						opacity: 0.8;
					}
				}
			}

			&:nth-child(2) {
				background-image: url(../img/weekly.jpg);
				background-size: cover;
				background-position: 50% 80%;
				width: 650px;

				p {
					display: table;
					color: #fff;
					background-color: $blueMain;
					text-transform: uppercase;
					font: 16px $font-statick;
					margin-top: 0px;
					padding: 20px 30px;
					position: relative;

					border-left: 80px solid $orangeMain;
					
					&:before {
						content: '';
						
						background-image: url(../img/prize.svg);
						background-size: cover;
						// background-color: $orangeMain;

						display: inline-block;
						width: 40px;
						height: 40px;
						// padding: 10px;
						position: absolute;
						top: 10px;
						left: -60px;
						// right: 20px;
					}
				}


			}
		} /* item */
	} /* items */
}


/*=========== Footer ================= */



.footer {
	padding: 100px 0;
	background-color: $blueDark;

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
		.footer__item {
			flex-basis: 20%;

			h2 {
				font: 18px $font-statick; 
				// font-weight: 700;
				text-transform: uppercase;
				color: #fff;
				margin-top: 50px;
			}

		}
	}
}

/*================ Forst item ================== */
.footer__item {



	&__logo {


		img {
			margin-left: 20px;
		}

		h4 {
			color: #fff;
			font: 18px $font-statick;
			font-weight: 700;
			text-transform: uppercase;
			margin-top: 5px;


		}
	}

	&__icons {
		display: flex;
		margin: 50px 0;

		a {
			text-align: center;
			color: $orangeMain;
			padding: 6px;
			margin-left: 8px;
			margin-right: 8px;
			border: 1.5px solid $orangeMain;
			@include border-radius(50%);
			@include transition(all .6s);

			&:hover {
				border: 1.5px solid transparent;
			}

			i {
				width: 18px;
				font-size: 12px;
			}
		}
	}
	
	p {
		color: $textColor;
		font: 16px $font-statick;
		// letter-spacing: 0.5px;
		


	}

}



/*================ Second item ================== */

	.footer__item {


		&__links {
			list-style: none;
			margin-top: 50px;
			
			a {
				text-decoration: none;
				color: $textColor;
				font: 17px $font-statick;
				// font-weight: 700;
				@include transition(all .6s);
			
			&:hover {
				color: #fff;
			}
				li {
					margin-top: 18px;
				}
			}
		}

	}







/*================ Three item ================== */

.footer__item {


	&__inputs {
		margin-top: 50px;

		input {
			margin-top: 10px;
			width: 100%;
			background-color: $blueMain;
			border: none;
			padding: 10px 20px;
		}

		input[type="text"] {
			padding-bottom: 100px;
			// width: 100%;
		}

		input[type="submit"] {
			color: #fff;
			font: 14px $font-statick;
			font-weight: 700;
			width: 100px;
			background-color: $orangeMain;

			cursor: pointer;
		}
	}
}






/*================ Four item ================== */

.footer__item:nth-child(4) {

	h2 {
		margin-bottom: 50px;
	}

	a {
		color: $textColor;
		font: 16px $font-statick;
		margin-left: 10px;
		// padding-left: 10px;
		text-decoration: none;
		@include transition(color .6s);

		&:hover {
			color: #fff;
		}


		img {
			width: 20px;
			position: absolute;
			transform: translateX(-30px);
		}

		// &:before {
		// 	content: '';
		// 	display: block;
		// 	background-image: url(../img/placeholder.svg);
		// 	background-size: cover;
		// 	width: 15px;
		// 	height: 15px;
		// }
	}

	li {
		margin-bottom: 30px;
		list-style: none;
		margin-left: 20px;
	}
}








.footer__mini {
	padding: 15px 0;
	text-align: center;
	background-color: #100D4E;
	background-color: #030B1D;
	font: 16px $font-statick;
	color: #777;

	span {
		color: #0B63CF;
		// font-weight: 700;
	}
}