.banner__about {
	background-image: url(../img/home_background.jpg);
	background-attachment: fixed;
	width: 100%;
	height: 55vh;


	&__road {
		margin-top: 30vh;
		
		p {
			padding: 5px 10px;
			display: table;
			background-color: $orangeMain;
			text-transform: uppercase;
			font-weight: 700;
			margin-bottom: 10px;

			
		}

		color: #fff;
		font: 17px $font-statick;
		// font-weight: 700;
	}
}
